body {
/*	background: url("images/sf-skyline-lineart.jpg") no-repeat center center fixed; 
	background-size: 200%;*/
	background: url("images/test-01.jpg"); /*no-repeat center center fixed; */
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11px;
}

.container {
	position: relative;
}

.board {
	position: absolute;
}

.dot {
	background-color: #cccccc;
	border: solid 1px #cccccc;
	border-radius: 50%;
	height: 20px;
	outline: none;
	text-align: center;
	width: 20px;
	z-index: 1;
}

.glow {
	animation-name: glow;
	animation-duration: 2s; 
	animation-timing-function: ease-in; 
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running; 
}

@keyframes glow {
	0% {
		box-shadow: 0px 0px 0px purple;
	}
	100% {
		box-shadow: 0px 0px 100px purple;
	}
}

.line {
	z-index: 0;
}

.horizontal {
	background-color: #666666;
	height: 5px;
	width: 0;
}

.vertical {
	background-color: #666666;
	height: 0;
	width: 5px;
}

#dot-1 {
	left: 100px;
	top: 435px;
}

#line-1 {
	left: 120px;
	top: 445px;
	transition: width .25s ease-in-out;
/*	width: 105px;*/
}

#dot-2 {
	left: 225px;
	top: 435px;
}

#line-2 {
	left: 234px;
	bottom: -367px;
	transition: height .25s ease-in-out;
/*	height: 125px;*/
}

#dot-3 {
	left: 225px;
	top: 300px;
}

#line-3 {
	left: 245px;
	top: 310px;
	transition: width .25s ease-in-out;
/*	width: 75px;*/
}

#dot-4 {
	left: 320px;
	top: 300px;
}

#line-4 {
	left: 329px;
	top: 320px;
	transition: height .25s ease-in-out;
/*	height: 80px;*/
}

#dot-5 {
	left: 320px;
	top: 400px;
}

#line-5 {
	left: 340px;
	top: 409px;
	transition: width .25s ease-in-out;
/*	width: 50px;*/
}

#dot-6 {
	left: 390px;
	top: 400px;
}

#line-6 {
	left: 399px;
	bottom: -332px;
	transition: height .25s ease-in-out;
/*	height: 80px;*/
}

#dot-7 {
	left: 390px;
	top: 320px;
}

#line-7 {
	left: 401px;
	top: 320px;
	transition: width .25s ease-in-out;
	transform: rotate(-70deg);
	transform-origin: left;
/*	width: 35px;*/
}

#dot-8 {
	left: 405px;
	top: 270px;
}

#line-8 {
	left: 418px;
	top: 288px;
	transition: width .25s ease-in-out;
	transform: rotate(70deg);
	transform-origin: left;
/*	width: 35px;*/
}

#dot-9 {
	left: 420px;
	top: 320px;
}

#line-9 {
	left: 429px;
	top: 340px;
	transition: height .25s ease-in-out;
/*	height: 30px;*/
}

#dot-10 {
	left: 420px;
	top: 370px;
}

#line-10 {
	left: 440px;
	top: 379px;
	transition: width .25s ease-in-out;
/*	width: 25px;*/
}

#dot-11 {
	left: 465px;
	top: 370px;
}

#line-11 {
	left: 474px;
	bottom: -301px;
	transition: height .25s ease-in-out;
/*	height: 60px;*/
}

#dot-12 {
	left: 465px;
	top: 290px;
}

#line-12 {
	left: 485px;
	top: 299px;
	transition: width .25s ease-in-out;
/*	width: 20px;*/
}

#dot-13 {
	left: 505px;
	top: 290px;
}

#line-13 {
	left: 514px;
	top: 310px;
	transition: height .25s ease-in-out;
/*	height: 60px;*/
}

#dot-14 {
	left: 505px;
	top: 370px;
}

#line-14 {
	left: 520px;
	top: 371px;
	transition: height .25s ease-in-out;
	transform: rotate(-80deg);
	transform-origin: left;
/*	width: 80px;*/
}

#dot-15 {
	left: 525px;
	top: 275px;
}

#line-15 {
	left: 534px;
	bottom: -206px;
	transition: height .25s ease-in-out;
/*	height: 55px;*/
}

#dot-16 {
	left: 525px;
	top: 200px;
}

#line-16 {
	left: 545px;
	top: 209px;
	transition: width .25s ease-in-out;
/*	width: 15px;*/
}

#dot-17 {
	left: 560px;
	top: 200px;
}

#line-17 {
	left: 569px;
	top: 220px;
	transition: height .25s ease-in-out;
/*	height: 55px;*/
}

#dot-18 {
	left: 560px;
	top: 275px;
}

#line-18 {
	left: 573px;
	top: 293px;
	transition: height .25s ease-in-out;
	transform: rotate(80deg);
	transform-origin: left;
/*	width: 145px;*/
}

#dot-19 {
	left: 590px;
	top: 435px;
}

#line-19 {
	left: 599px;
	bottom: -367px;
	transition: height .25s ease-in-out;
/*	height: 81px;*/
}

#dot-20 {
	left: 590px;
	top: 335px;
}

#line-20 {
	left: 610px;
	top: 344px;
	transition: width .25s ease-in-out;
/*	width: 40px;*/
}

#dot-21 {
	left: 650px;
	top: 335px;
}

#line-21 {
	left: 659px;
	top: 355px;
	transition: height .25s ease-in-out;
/*	height: 50px;*/
}

#dot-22 {
	left: 650px;
	top: 405px;
}

#line-22 {
	left: 670px;
	top: 414px;
	transition: width .25s ease-in-out;
/*	width: 15px;*/
}

#dot-23 {
	left: 685px;
	top: 405px;
}

#line-23 {
	left: 694px;
	bottom: -336px;
	transition: height .25s ease-in-out;
/*	height: 135px;*/
}

#dot-24 {
	left: 685px;
	top: 250px;
}

#line-24 {
	left: 705px;
	top: 259px;
	transition: width .25s ease-in-out;
/*	width: 40px;*/
}

#dot-25 {
	left: 745px;
	top: 250px;
}

#line-25 {
	left: 754px;
	bottom: -181px;
	transition: height .25s ease-in-out;
/*	height: 80px;*/
}

#dot-26 {
	left: 745px;
	top: 150px;
}

#line-26 {
	left: 765px;
	top: 159px;
	transition: width .25s ease-in-out;
/*	width: 30px;*/
}

#dot-27 {
	left: 795px;
	top: 150px;
}

#line-27 {
	left: 804px;
	top: 170px;
	transition: height .25s ease-in-out;
/*	height: 130px;*/
}

#dot-28 {
	left: 795px;
	top: 300px;
}

#line-28 {
	left: 815px;
	top: 309px;
	transition: width .25s ease-in-out;
/*	width: 20px;*/
}

#dot-29 {
	left: 835px;
	top: 300px;
}

#line-29 {
	left: 844px;
	bottom: -231px;
	transition: height .25s ease-in-out;
/*	height: 20px;*/
}

#dot-30 {
	left: 835px;
	top: 260px;
}

#line-30 {
	left: 852px;
	top: 262px;
	transition: height .25s ease-in-out;
	transform: rotate(-45deg);
	transform-origin: left;
/*	width: 23px;*/
}

#dot-31 {
	left: 865px;
	top: 230px;
}

#line-31 {
	left: 881px;
	top: 246px;
	transition: height .25s ease-in-out;
	transform: rotate(45deg);
	transform-origin: left;
/*	width: 23px;*/
}

#dot-32 {
	left: 895px;
	top: 260px;
}

#line-32 {
	left: 904px;
	top: 280px;
	transition: height .25s ease-in-out;
/*	height: 70px;*/
}

#dot-33 {
	left: 895px;
	top: 350px;
}

#line-33 {
	left: 915px;
	top: 359px;
	transition: width .25s ease-in-out;
/*	width: 105px;*/
}

#dot-34 {
	left: 1020px;
	top: 350px;
}

.footer {
	position: absolute;
	right: 10px;
	bottom: 0;
	left: 10px;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;
}