.container {
	position: relative;
}

.board {
	position: absolute;
}

.dot {
	background-color: white;
	border: solid 1px black;
	border-radius: 50%;
	height: 25px;
	outline: none;
	width: 25px;
}

.glow {
	animation-name: glow;
	animation-duration: 2s; 
	animation-timing-function: ease-in; 
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running; 
}

@keyframes glow {
	0% {
		box-shadow: 0px 0px 0px purple;
	}
	100% {
		box-shadow: 0px 0px 100px purple;
	}
}

#dot-one {
	margin-left: 200px;
	margin-top: 50px;
}

#line-one {
	background-color: red;
	height: 2px;
	margin-left: 225px;
	margin-top: 62px;
	transition: width 1s ease-in-out;
	width: 0;
}

#dot-two {
	margin-left: 900px;
	margin-top: 50px;
}

#line-two {
	background-color: red;
	height: 0;
	margin-left: 912px;
	margin-top: 75px;
	transition: height 1s ease-in-out;
	width: 2px;
}

#dot-three {
	margin-left: 900px;
	margin-top: 200px;
}

#line-three {
	background-color: red;
	margin-left: 906px;
	margin-top: 194px;
}

#dot-four {
	margin-left: 200px;
	margin-top: 200px;
}

.footer {
  position: absolute;
  right: 10px;
  bottom: 0;
  left: 10px;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}